<div class="log-in-page">
  <mat-card>
    <mat-card-title>Login</mat-card-title>  
    <mat-card-subtitle>Welcome back, please login to your account</mat-card-subtitle>
    <div class="overlay" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <form [formGroup]="form" (submit)="onLogin($event)">
      <div class="form-group">
        <mat-form-field>
          <input matInput type="email" placeholder="Enter email" formControlName="email">
          <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
          <mat-error *ngIf="form.controls.email.errors?.email">Email is not valid</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-input">
        <mat-checkbox>
          Remember Me
        </mat-checkbox>
        <a mat-stroked-button [routerLink]="'/'" color="primary">Forgot Password?</a>
      </div>
      <div class="form-action">
        <button mat-raised-button color="primary" [disabled]="form.invalid || loading">Login</button>
      </div>
      <div class="form-action">
        <a mat-stroked-button [routerLink]="'/auth/sign-up'" color="primary">Don't have an account? Register</a>
      </div>
    </form>
  </mat-card>
</div>