.mat-form-field {
  width: 100%;
}

.mat-input {
  width: 100%;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

.mat-progress-bar {
  margin: 8px 0;
}

.inner-content {
  padding: 32px 0;
}

.mat-radio-button {
  width: 100%;
  margin: 8px 0;
}

.mat-stepper-horizontal {
  padding-top: 16px;
}

.step-actions {
  display: flex;
  justify-content: space-around;
}