<div class="sign-up-page">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-subtitle>Fill the below form to create a new account.</mat-card-subtitle>
    <form [formGroup]="form" (submit)="onSignUp($event)">
      <div class="form-group">
        <mat-form-field>
          <input matInput type="email" placeholder="Enter email" formControlName="email">
          <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
          <mat-error *ngIf="form.controls.email.errors?.email">Email is not valid</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" formControlName="compare">
          <mat-error *ngIf="form.controls.compare.errors?.required">Confirm Password is required</mat-error>
          <mat-error *ngIf="form.controls.compare.errors?.passwordMismatch">Confirm Password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-checkbox>
          I accept the terms & conditions.
        </mat-checkbox>
      </div>
      <div class="form-action">
        <a mat-stroked-button [routerLink]="'/auth/login'" color="primary">Login</a>
        <button mat-raised-button color="primary" [disabled]="form.invalid || loading">Register</button>
      </div>
    </form>
  </mat-card>
</div>