.mat-card {
  max-width: 400px;
  margin: auto;
  padding: 24px;
}

.mat-form-field {
  width: 100%;
}

.form-action {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.form-input {
  display: flex;
  justify-content: space-between;
}

.sign-up-page {
  width: 100%;
  background-image: url('/assets/imgs/bg-login.jpg');
  padding-top: 200px;
  height: calc(100vh - 200px);
}