.wrapper {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/imgs/bg-services.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
